// Define variables for your color scheme

// For example:
$red: #FF5714;
$blue: #1BE7FF;
$yellow: #E4FF1A;
$orange: #FFB800;
$green: #6EEB83;
$gray: #0E0000;
$mid-gray: #9A9A9A;
$light-gray: #F4F4F4;
