.job-stats-container {
  display: flex;
  justify-content: space-between;
  .job-stat {
    text-align: center;
    margin: 10px 20px;
  }
  #new-job{
    font-size: 4rem;
    margin: 10px 20px 10px 0px;
  }
}


.job-row {
  display: flex;
  margin: 1rem 0px;
}


.job-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background: white;
  padding: 0px 15px;
  width: 300px;
  max-width: 300px;
  .card-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-top: 0.3rem;
    h3 {
    }
    i {
      font-size: 1rem;
    }
  }
  p {
    margin-bottom: 0.3rem;
    font-size: 0.8rem
  }
}
.progress-bar-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
}

.line {
  // border-bottom: 1px solid black;
  height: 4px;
  background: $gray;
  flex-grow: 1;
  position: relative;
  .circles-container {
    display: flex;
    justify-content: space-between;
    position: inherit;
    top: -13px;
    .circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid black;
    }
    .yellow {
      background: $yellow;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid black;
    }
    .green {
      background: $green;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid black;
    }
    .gray {
      background: $mid-gray;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid black;
    }
    .blue {
      background: $blue;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid black;
    }
  }
}


@media (max-width: 767px) {
  p {
    font-size: 0.8rem;
  }
}
